* {
    padding: 0;
    margin: 0 auto;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /*font-size: 14px;*/
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}


.container {
    /*margin: 0 auto;*/
    font-family: Montserrat, sans-serif;
    /*width: 1200px;*/
    margin: 0 auto;
}

header {
    background-image: url("../img/header-img.png");
    /*width: 1920px;*/
    height: 1012px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.nav-fix {
    height: 120px;
    background-color: #5E5D5899;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1000;

}


.nav-logo-hexagon {
    height: 70px;
    background-image: url("../img/nav-logo.svg");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 14px;


}

.nav-logo-text {
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}

.nav-logo-name {
    display: inline;
    font-size: 37px;
    color: #FFFFFF;

}

.nav-logo-span {
    color: #18CFAB;
    font-weight: 700;
}

.nav-menu {
    display: inline;
    margin-left: 22px;

}

.nav-menu-link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #D4D4D4;
    padding-bottom: 48px;


}

.nav-menu-link:hover {
    color: #18CFAB;
    border-bottom: 3px solid #18CFAB

}

.header-title {
    text-align: center;
    padding-top: 260px;
}

.header-title-top {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 700;
}

.header-title-span {
    color: #18CFAB;
}

.header-title-main {
    font-size: 78px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-subtitle {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 400;
    color: #FFFFFF;
}

.header-button {
    text-align: center;
    margin-top: 127px;
}


.header-button-left {
    width: 170px;
    height: 70px;
    background-color: #18CFAB;
    border-radius: 7px;
    border-top: #FFFFFF 5px solid;
}

.header-button-right {
    margin-left: 26px;
    width: 170px;
    height: 70px;
    background-color: #00CBF6;
    border-radius: 7px;
    border-top: #FFFFFF 5px solid;
}


.header-button-link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}


.header-bottom {
    text-align: center;
    display: flex;
}

.header-section {
    margin-top: 2px;
    /*margin: 0 auto;*/
    width: 100%;
    height: 360px;
    background-color: #1C2A33;
    position: relative;

}

.header-section img {
    margin-top: 90px;
}

.header-section p {

    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 100px;


}

.header-bottom-section-1 {
    background-color: #1C2A33;
    color: #18CFAB;
}

.header-bottom-section-2 {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.header-bottom-section-3 {
    background-color: #1C2A33;
    color: #18CFAB;
}

.header-bottom-section-4 {
    background-color: #18CFAB;
    color: #FFFFFF;
}


.services-title {
    text-align: center;
    margin-top: 90px;
}

.services-title p {
    font-size: 36px;
    font-weight: 400;
}

.services-line {
    padding-left: 20px;
    height: 20px;
    width: 120px;

}

.line-1 {
    margin-top: 30px;
    margin-right: 20px;
    border-bottom: 2px solid #18CFAB;
}

.line-2 {
    margin-left: 20px;
    margin-top: 3px;
    border-top: 2px solid #18CFAB;
}


.service-ul {
    display: flex;


}

.service-nav {
    margin-top: 55px;
    width: 210px;
    height: 80px;
    text-align: center;
    border: #EDEFEF solid 1px;
    background-color: #F8FCFE;
    color: #717171;
}

.service-nav:hover {
    border: #18CFAB solid 2px;
}

.service-nav-sel {
    margin-top: 55px;
    width: 210px;
    height: 80px;
    text-align: center;
    position: relative;
    background-color: #18CFAB;
    color: white;
}


.service-nav-sel::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
/
}


.service-nav-section {
    width: 1160px;

}

.service-link {
    padding-top: 35px;
    font-weight: 400;
    font-size: 16px;
    /*color: #363B30*/


}

.service-wrapper {
    display: flex;
    margin-top: 27px;
    margin-bottom: 90px;
}

.service-logo {


}

.service-text {
    line-height: 24px;
    margin-left: 13px;
    font-size: 14px;
    font-weight: 300;
}

.section-buy {
    background-image: url("../img/section-buy.png");
    height: 496px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.section-buy-title {
    color: #18CFAB;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 126px;
}

.section-buy-subtitle {
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 100px;
}

.work-title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 90px;
}

.work-nav {
    width: 600px;
    height: 60px;
    display: flex;


}

.section-work {

    text-align: center;
    background-color: #F8FCFE;

}

.work-nav-menu {

    flex-grow: 2;
    height: 60px;
    margin-top: 55px;
    text-align: center;
    border: #EDEFEF solid 1px;
    background-color: #F8FCFE;
    color: #717171;


}


.work-nav-link {
    padding-top: 23px;

}

.work-nav-menu:hover {
    border: #18CFAB solid 2px;
}

.work-gallery {

    margin-top: 170px;
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
}


.work-gallery-polygon {
    width: 285px;
    height: 207px;

}

.work-gallery-polygon:hover {
    width: 285px;
    height: 207px;
    border-top: #18CFAB solid 2px;

}

.work-gallery-polygon {
    padding-top: 45px;
}

.gallery-title {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
}

.gallery-subtitle {
    padding-top: 15px;
    font-size: 12px;
    font-weight: 300;
    color: #717171;
}

.gallery-load {


    margin-top: 70px;
    padding-top: 26px;
    border-radius: 5px;
    width: 168px;
    height: 63px;
    flex: 14;
    font-weight: 700;
    background-color: #18CFAB;
    color: #FFFFFF;
}

#gallery-show {
    display: flex;
    flex-wrap: wrap;
}


.news-title {
    font-size: 36px;
    font-weight: 400;
    margin-top: 90px;
    text-align: center;
}


.news-wrapper {
    margin-top: 70px;
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
}

.news-items {
    position: relative;

}

.news-date {
    text-align: center;
    position: absolute;
    right: 0;
    font-size: 15px;
    display: inline-block;
    padding: 15px;
    color: #FFFFFF;
    line-height: 15px;
    background-color: #203E38;

}

.news-name {
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    margin-top: 8px;
    padding-left: 15px;

}

.news-comment {
    font-size: 14px;
    font-weight: 300;
    color: #717171;
    margin-top: 4px;
    margin-bottom: 40px;
    padding-left: 15px;
}


.news-items:hover .news-name {
    color: #18CFAB;
}

.news-link img {
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);

}


.news-link:hover + .news-date {
    background-color: #18CFAB;
}


.section-about {
    margin-top: 130px;
    background-image: url("../img/about-bg.png");
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.section-about-title {
    padding-top: 100px;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;

}

.section-image {
    text-align: center;

}


.section-image-title {
    padding-top: 100px;
    font-size: 36px;
    font-weight: 400;
    color: #1C2A33;

}

.section-image-gallery {
    margin-top: 70px;
    width: 1160px;
    height: 920px;
    /*align-content: flex-start;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.image-gallery {
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}


.bottom {
    margin-top: 70px;
    height: 120px;
    background-color: #22353F;
    text-align: center;
}

.bottom-copyright {
    font-size: 14px;
    font-weight: 300;
    color: #AEAEAE;
    padding-top: 50px;
}

.bottom-green {
    color: #18CFAB;
}